[submodule "fcitx5"]
	path = fcitx5
	url = https://github.com/fcitx/fcitx5.git
[submodule "fcitx5-gtk"]
	path = fcitx5-gtk
	url = https://github.com/fcitx/fcitx5-gtk.git
[submodule "fcitx5-qt"]
	path = fcitx5-qt
	url = https://github.com/fcitx/fcitx5-qt.git
[submodule "xcb-imdkit"]
	path = xcb-imdkit
	url = https://github.com/fcitx/xcb-imdkit.git
[submodule "fcitx5-chinese-addons"]
	path = fcitx5-chinese-addons
	url = https://github.com/fcitx/fcitx5-chinese-addons.git
[submodule "cldr-emoji-annotation"]
	path = cldr-emoji-annotation
	url = https://github.com/fujiwarat/cldr-emoji-annotation.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
